!!!
%html
  %head
    %title Wedding Photos
    %script{ :src => '/javascripts/jquery-1.4.2.min.js' }
    %script{ :src => '/javascripts/application.js' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => '/stylesheets/main.css' }
  %body
    #banner
      #bar
        %ul#barMenu
    #thumbs
      #photos
    #main
      #downloadLink Download Larger Version
    #infoBar 
      #status 
